<section class="container">
  <h3>Categories</h3>
  <ul class="items">
    <li class="active">
      <i class="fa fa-caret-down"></i>
      <span class="item-desc">e-Voucher</span>
      <i class="fa fa-check"></i>
      <p class="desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis repellat
        sit nihil vero id facilis iure similique doloremque.
      </p>
    </li>
    <li>
      <i class="fa fa-caret-down"></i>
      <span class="item-desc">Products</span>
      <i class="fa fa-check"></i>
    </li>
    <li>
      <i class="fa fa-caret-down"></i>
      <span class="item-desc">Evergreen</span>
      <i class="fa fa-check"></i>
    </li>
    <li>
      <i class="fa fa-caret-down"></i>
      <span class="item-desc">Fashon & Retails</span>
      <i class="fa fa-check"></i>
    </li>
  </ul>
</section>
